sounddevice==0.5.2
vosk==0.3.45
pyttsx3==2.99
faiss-cpu==1.11.0.post1
sentence-transformers==5.0.0
requests==2.32.4
numpy==2.2.6
scikit-learn==1.7.1
bleak==1.0.1
ollama==0.5.1
threadpoolctl==3.6.0
anyio==4.9.0
async-timeout==4.0.3
jsonpatch==1.33
jsonpointer==3.0.0